@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <h2 class="display-8">Siga a Formulario porfavor</h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRUfrxej3B2GsNyLqF5xRczRO1Iq_dDipprw&usqp=CAU" class="rounded mx-auto d-block" alt="...">
</div>
